# Ignorar archivos de entorno
.env
.env.local
.env.*.local

# Ignorar dependencias de Node.js (si las tuvieras en algún momento)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos de logs
*.log

# Ignorar configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de backup o temporales
*.tmp
*.bak
*.swp
*.old

# Otros - Personalizados
*_disable
*secret*
docker-compose_dev.yml