/* Header */
nav.nav_menu.active {
    width: 50%;
    margin-left: auto; /* Para alinear mejor a la derecha */
    top: 5.9rem;
}


/* Home */
.image_home {
    max-width: 50rem;
    width: 100%; /* Asegura que ocupe el 100% del contenedor en tabletas */
}

.container_text-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinea el texto en columna para tabletas */
    text-align: center; /* Mejor legibilidad */
}

.home_text-1 {
    font-size: 2.4rem;
    margin-bottom: 1rem; /* Espaciado inferior para separación en tabletas */
}

.home_text-2 {
    font-size: 3.6rem;
    margin-bottom: 1rem; /* Mejora la separación entre textos */
}

/* Sobre mí */
.sobreMi {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centra el contenido */
}

.container_texto-sobreMi {
    padding: 2rem;
}

.title_sobreMi {
    font-size: 2.6rem; /* Un poco más pequeño para mejor ajuste */
}

.texto_sobreMi {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.container_image-sobreMi {
    width: 100%; /* Asegura que la imagen use todo el espacio disponible */
    max-width: 65%; /* Máximo ancho para la imagen */
    margin-top: 2rem;
}

/* Habilidades */
.cards_container--habilidades {
    column-gap: 2rem; /* Reduce el espacio entre columnas para mejor ajuste en tablets */
    row-gap: 3rem; /* Añade espacio entre las filas */
}

/* Proyectos */
.cards_container--proyectos {
    display: flex;
    flex-direction: column; /* Ajusta para una sola columna en tablets */
    align-items: center;
}

.cards--proyectos {
    max-width: 40rem; /* Reduce el ancho máximo para mejor ajuste en tabletas */
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    margin-bottom: 2rem;
}

.container_btn--proyectos {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Asegura que los botones se ajusten al ancho del contenedor */
    margin-top: 1rem; /* Añade separación superior */
}

.container_btn--proyectos button {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
    margin: 0.5rem 0; /* Espacio entre botones */
}

/* Contacto */
.container--contacto {
    margin: 0 auto;
    width: 90%; /* Aumenta el ancho disponible para mayor legibilidad */
    padding: 2rem; /* Añade relleno para separar del borde */
}
